IMPORTING LIBRARIES

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, recall_score, precision_score

READING DATA

In [5]:
train_data = pd.read_csv(r'C:\Users\Dell\Desktop\CodSoft\Task 2\fraudtrain.csv')

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [9]:
train_data.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

PREPROCESSING

In [11]:
train_data.drop(columns=['Unnamed: 0','cc_num','first', 'last', 'street', 'city', 'state', 'zip', 'dob', 'trans_num','trans_date_trans_time'],inplace=True)

In [13]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
train_data["merchant"] = encoder.fit_transform(train_data["merchant"])
train_data["category"] = encoder.fit_transform(train_data["category"])
train_data["gender"] = encoder.fit_transform(train_data["gender"])
train_data["job"] = encoder.fit_transform(train_data["job"])

In [15]:
train_data

,merchant,category,amt,gender,lat,long,city_pop,job,unix_time,merch_lat,merch_long,is_fraud
0,514,8,4.97,0,36.0788,-81.1781,3495,370,1325376018,36.011293,-82.048315,0
1,241,4,107.23,0,48.8878,-118.2105,149,428,1325376044,49.159047,-118.186462,0
2,390,0,220.11,1,42.1808,-112.2620,4154,307,1325376051,43.150704,-112.154481,0
3,360,2,45.00,1,46.2306,-112.1138,1939,328,1325376076,47.034331,-112.561071,0
4,297,9,41.96,1,38.4207,-79.4629,99,116,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,499,0,15.56,1,37.7175,-112.4777,258,215,1371816728,36.841266,-111.690765,0
1296671,2,1,51.70,1,39.2667,-77.5101,100,360,1371816739,38.906881,-78.246528,0
1296672,599,1,105.93,1,32.9396,-105.8189,899,308,1371816752,33.619513,-105.130529,0
1296673,509,1,74.90,1,43.3526,-102.5411,1126,485,1371816816,42.788940,-103.241160,0
1296674,370,1,4.30,1,45.8433,-113.8748,218,467,1371816817,46.565983,-114.186110,0

TRAIN THE MODEL

In [17]:
X = train_data.drop(columns=["is_fraud"], inplace = False)
Y = train_data["is_fraud"]

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [21]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier

In [23]:
model1 = DecisionTreeClassifier()

In [25]:
model1.fit(X_train, y_train)
y_pred1_1 = model1.predict(X_test)

accuracy = accuracy_score(y_test, y_pred1_1)
precision = precision_score(y_test, y_pred1_1)
recall = recall_score(y_test, y_pred1_1)
f1 = f1_score(y_test, y_pred1_1)
print(f"\n Accuracy: {accuracy}")
print(f" Precision: {precision}")
print(f" Recall: {recall}")
print(f" F1 Score: {f1}")

 Accuracy: 0.9958162222607824
 Precision: 0.6372732958098811
 Recall: 0.6686351706036745
 F1 Score: 0.6525776496958053

UNDERSAMPLING

In [27]:
normal = train_data[train_data['is_fraud']==0]
fraud = train_data[train_data['is_fraud']==1]

In [29]:
normal_sample = normal.sample(n=fraud.shape[0])

In [31]:
new_data = pd.concat([normal_sample,fraud], ignore_index=True)

In [33]:
new_data.head()

,merchant,category,amt,gender,lat,long,city_pop,job,unix_time,merch_lat,merch_long,is_fraud
0,22,12,5.10,0,38.7897,-93.8702,2368,148,1353540274,38.971160,-93.565599,0
1,273,2,79.97,1,33.6666,-101.5277,1571,333,1356749674,34.129091,-102.043660,0
2,396,7,5.25,0,42.1939,-76.7361,520,373,1354319648,43.038544,-77.627172,0
3,246,12,7.02,1,30.0377,-95.5326,316665,145,1343405394,29.343983,-96.062322,0
4,506,6,186.68,1,37.7175,-112.4777,258,215,1339536741,38.630363,-111.986377,0

In [35]:
new_data['is_fraud'].value_counts()
X = new_data.drop('is_fraud', axis = 1)
y= new_data['is_fraud']

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [39]:
model2 = DecisionTreeClassifier()
model2.fit(X_train, y_train)
y_pred1_2 = model2.predict(X_test)
print(f"\n Accuaracy: {accuracy_score(y_test, y_pred1_2)}")
print(f"\n Precision: {precision_score(y_test, y_pred1_2)}")
print(f"\n Recall: {recall_score(y_test, y_pred1_2)}")
print(f"\n F1 Score: {f1_score(y_test, y_pred1_2)}")

 Accuaracy: 0.9470529470529471

 Precision: 0.9493754109138725

 Recall: 0.9462647444298821

 F1 Score: 0.947817525434854

OVERSAMPLING

In [41]:
X = train_data.drop('is_fraud', axis = 1)
y= train_data['is_fraud']

In [43]:
from imblearn.over_sampling import SMOTE

In [45]:
X_ouver, y_ouver = SMOTE().fit_resample(X,y)
y_ouver.value_counts()

is_fraud
0    1289169
1    1289169
Name: count, dtype: int64

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X_ouver, y_ouver, test_size = 0.2, random_state = 0)

In [49]:
model3 = DecisionTreeClassifier()
model3.fit(X_train, y_train)
y_pred1_3 = model3.predict(X_test)
print(f"\n Accuaracy: {accuracy_score(y_test, y_pred1_3)}")
print(f"\n Precision: {precision_score(y_test, y_pred1_3)}")
print(f"\n Recall: {recall_score(y_test, y_pred1_3)}")
print(f"\n F1 Score: {f1_score(y_test, y_pred1_3)}")

 Accuaracy: 0.9820543450437103

 Precision: 0.9772122031918287

 Recall: 0.9870973251404195

 F1 Score: 0.9821298913967033

TESTING THE MODEL

In [51]:
test_data = pd.read_csv(r'C:\Users\Dell\Desktop\CodSoft\Task 2\fraudtest.csv')

In [53]:
test_data.drop(columns=['Unnamed: 0','cc_num','first', 'last', 'street', 'city', 'state', 'zip', 'dob', 'trans_num','trans_date_trans_time'],inplace=True)
encoder = LabelEncoder()
test_data["merchant"] = encoder.fit_transform(test_data["merchant"])
test_data["category"] = encoder.fit_transform(test_data["category"])
test_data["gender"] = encoder.fit_transform(test_data["gender"])
test_data["job"] = encoder.fit_transform(test_data["job"])

In [55]:
test_data

,merchant,category,amt,gender,lat,long,city_pop,job,unix_time,merch_lat,merch_long,is_fraud
0,319,10,2.86,1,33.9659,-80.9355,333497,275,1371816865,33.986391,-81.200714,0
1,591,10,29.84,0,40.3207,-110.4360,302,392,1371816873,39.450498,-109.960431,0
2,611,5,41.28,0,40.6729,-73.5365,34496,259,1371816893,40.495810,-74.196111,0
3,222,9,60.05,1,28.5697,-80.8191,54767,407,1371816915,28.812398,-80.883061,0
4,292,13,3.19,1,44.2529,-85.0170,1126,196,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...
555714,507,5,43.77,1,40.4931,-91.8912,519,460,1388534347,39.946837,-91.333331,0
555715,264,7,111.84,1,29.0393,-95.4401,28739,198,1388534349,29.661049,-96.186633,0
555716,496,7,86.88,0,46.1966,-118.9017,3684,294,1388534355,46.658340,-119.715054,0
555717,75,13,7.99,1,44.6255,-116.4493,129,58,1388534364,44.470525,-117.080888,0
555718,125,0,38.13,1,35.6665,-97.4798,116001,276,1388534374,36.210097,-97.036372,0

In [57]:
X_test = test_data.drop(columns=["is_fraud"], inplace = False)
Y_test = test_data["is_fraud"]

In [59]:
y_pred1 = model1.predict(X_test)
print(f"\n Accuaracy: {accuracy_score(Y_test, y_pred1)}")
print(f"\n Precision: {precision_score(Y_test, y_pred1)}")
print(f"\n Recall: {recall_score(Y_test, y_pred1)}")
print(f"\n F1 Score: {f1_score(Y_test, y_pred1)}")

 Accuaracy: 0.9936262751498509

 Precision: 0.3190883190883191

 Recall: 0.5743589743589743

 F1 Score: 0.41025641025641024

In [61]:
y_pred2 = model2.predict(X_test)
print(f"\n Accuaracy: {accuracy_score(Y_test, y_pred2)}")
print(f"\n Precision: {precision_score(Y_test, y_pred2)}")
print(f"\n Recall: {recall_score(Y_test, y_pred2)}")
print(f"\n F1 Score: {f1_score(Y_test, y_pred2)}")

 Accuaracy: 0.9443279787086639

 Precision: 0.060693906197552716

 Recall: 0.9272727272727272

 F1 Score: 0.11393057624011914

In [63]:
y_pred3 = model3.predict(X_test)
print(f"\n Accuaracy: {accuracy_score(Y_test, y_pred3)}")
print(f"\n Precision: {precision_score(Y_test, y_pred3)}")
print(f"\n Recall: {recall_score(Y_test, y_pred3)}")
print(f"\n F1 Score: {f1_score(Y_test, y_pred3)}")

 Accuaracy: 0.9679442308072965

 Precision: 0.046745733294764245

 Recall: 0.37668997668997667

 F1 Score: 0.08317035512094699

FINAL MODEL

In [65]:
import numpy as np
from scipy import stats
combined_predictions = np.vstack((y_pred1, y_pred2, y_pred3)).T
final_predictions = stats.mode(combined_predictions, axis=1)[0].flatten()

In [66]:
print(f"\n Accuaracy: {accuracy_score(Y_test, final_predictions)}")
print(f"\n Precision: {precision_score(Y_test, final_predictions)}")
print(f"\n Recall: {recall_score(Y_test, final_predictions)}")
print(f"\n F1 Score: {f1_score(Y_test, final_predictions)}")

 Accuaracy: 0.9917080394947806

 Precision: 0.25886038770315256

 Recall: 0.6163170163170163

 F1 Score: 0.36458907887479314